<%for(post of posts){%>
    <div>Data: <%= post.data%></div>
    <div>Category: <%= post.category%></div>
    <div>Text: <%= post.pText%></div>
    <div>Img: <%= post.img%></div>
    <div>User: <%= post.userNick%></div>
    <div>Coments: <%= post.coments%></div>


    <a href=<%=`/posts/delete/${post._id}` %> > Delete</a>
    <hr/>
  <%}%>