<%for(user of users){%>
  <div>Name: <%= user.name%>
  </div>
  <div>Age: <%= user.age%>
  </div>
  <div>Nick: <%= user.nick%>
  </div>
  <div>Email: <%= user.email%>
  </div>
  <div>Avatar img: <%= user.avatar%>
  </div>
  <div>Country: <%= user.country%>
  </div>
  <div>City: <%= user.city%>
  </div>
  <div>
    <%= user.nick%>Posts: <%= user.posts_id%>
  </div>
  <div>
    <%= user.nick%>Friends: <%= user.friends%>
  </div>

  <a href=<%=`/users/delete/${user._id}` %> > Delete</a>
  <hr />
  <%}%>